$blue: rgb(16, 93, 209);
$red: rgb(165, 49, 55);
$green: rgb(58, 124, 61);
$orange: rgb(145, 129, 62);
$white: #ffffff;
$light-gray: rgb(242, 242, 242);
$v-dark-gray: rgb(48, 48, 48);
$shadd: 0 0 11px rgba(33, 33, 33, 0.2);


