$blue: rgb(16, 93, 209);
$red: rgb(165, 49, 55);
$green: rgb(58, 124, 61);
$orange: rgb(145, 129, 62);
$white: #ffffff;
$light-gray: rgb(242, 242, 242);
$v-dark-gray: rgb(48, 48, 48);
$shadd: 0 0 11px rgba(33, 33, 33, 0.2);

// PALETTE
$primary: #2d4356;
$secondary: #435b66;
$tertiary: #a76f6f;
$quaternary: #eab2a0;
$quaternary02: #eab2a014;

// GRADIENTS
$gradient-stripes-tertiary: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    $quaternary02 10px,
    $quaternary02 15px
);

